name: Actions workflow

on: [push]

jobs:
  run-github-actions:
    runs-on: ubuntu-latest
    steps:
      - name: List Files
        run: |
          pwd
          ls
    # For actions we can specify commit, version, and or branch(Not always the best)
      - name: Simple JS Action
        id: greet
        uses: actions/hello-world-javascript-action@v1
        with:
          who-to-greet: John
      - name: Log Greeting Time
      # in order to access these env variables, we need to give the action an id to reference
        run: echo "${{steps.greet.outputs.time}}"
